@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Pacifico&family=Raleway:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

section {
  padding: 110px 9%;
}

.btn-primary {
  color: #ffffff;
  background-color: #067c43;
  padding: 10px 24px;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-primary:hover {
  background-color: #044b29;
}

nav.sticky {
  padding: 4px 10%;
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 25px rgba(0, 0, 0, 0.383);
          box-shadow: 0 4px 25px rgba(0, 0, 0, 0.383);
}

nav.sticky .logo {
  color: #000000;
}

nav.sticky .nav-menu a {
  color: #000000;
}

nav.sticky .nav-menu a:hover {
  border-bottom: 3px solid #000000;
  padding-bottom: 10px;
}

nav.sticky .icon-burger {
  cursor: pointer;
}

nav.sticky .icon-burger .line {
  background: #000000;
}

nav {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  font-family: "Raleway", sans-serif;
  height: 100px;
  padding: 0 5%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nav .logo {
  font-size: 36px;
  font-family: "Pacifico", cursive;
  color: #ffffff;
  float: left;
  width: 40%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 36px;
}

nav .nav-menu {
  font-size: 18px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav .nav-menu a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  text-transform: capitalize;
  margin-left: 32px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

nav .nav-menu a:hover {
  border-bottom: 3px solid #ffffff;
  padding-bottom: 10px;
}

nav #nav-toggle {
  position: absolute;
  opacity: 0;
}

nav .icon-burger {
  cursor: pointer;
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background: #ffffff;
  margin: 5px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero {
  background-image: url(../images/bg-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .content {
  padding: 0 9%;
}

.hero .content span {
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
}

.hero .content h1 {
  font-size: 52px;
  color: #ffffff;
  font-weight: 400;
  margin: 12px 0 40px 0;
}

.hero .content h1 span {
  font-size: 52px;
  font-weight: 700;
}

.hero .content a {
  text-decoration: none;
  font-weight: 600;
}

.socmed {
  padding: 50px 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -170px;
}

.socmed .icon {
  font-size: 32px;
}

.socmed .icon a {
  color: #ffffff;
  margin-right: 24px;
  padding: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.socmed .icon a:hover {
  color: #999999;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .content p {
  font-size: 18px;
  padding: 32px 0;
  width: 400px;
  color: #767575;
}

#about .content a {
  text-decoration: none;
  font-weight: 600;
}

#about .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
}

#about .image-container .image {
  overflow: hidden;
  max-height: 370px;
  border-radius: 10px;
}

#about .image-container .image img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#about .image-container .image:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#about .image-container .image2 {
  overflow: hidden;
  border-radius: 10px;
  max-height: 450px;
  width: 320px;
}

#about .image-container .image2 img {
  max-width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#about .image-container .image2:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  section {
    padding: 110px 5%;
  }
  nav .nav-menu {
    float: none;
    position: fixed;
    z-index: 9;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 100%;
    width: auto;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background: #ffffff;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  nav .nav-menu a {
    font-size: 20px;
    margin: 0 auto;
    color: #000000;
  }
  nav .nav-menu a:hover {
    border-bottom: none;
    padding: none;
    color: #067c43;
  }
  nav :checked ~ .nav-menu {
    bottom: 0;
  }
  nav .icon-burger {
    display: block;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(45deg);
            transform: translateY(10px) rotate(45deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-45deg);
            transform: translateY(-10px) rotate(-45deg);
  }
  #about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about .content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #about .content p {
    width: 100%;
  }
  #about .image-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    gap: 16px;
  }
  #about .image-container .image {
    max-height: 360px;
    max-width: 100%;
  }
  #about .image-container .image2 {
    max-height: 450px;
    max-width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .hero .content span {
    font-size: 16px;
  }
  .hero .content h1 {
    font-size: 40px;
  }
  .hero .content h1 span {
    font-size: 40px;
  }
  .section-title h2 {
    font-size: 24px;
  }
  #about .content p {
    font-size: 16px;
  }
  #about .image-container {
    gap: 14px;
  }
  #about .image-container .image {
    max-height: 230px;
  }
  #about .image-container .image2 {
    max-height: 280px;
  }
}

@media screen and (max-width: 375px) {
  #about .image-container .image {
    max-height: 190px;
    max-width: 100%;
  }
  #about .image-container .image2 {
    max-height: 240px;
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */